:root {
  --board-dimension: 420px;
  --box-dimension: 120px;
  --board-border: 5px ridge rgb(59, 114, 136);
  --board-color: #f1e4a6;
  --moves-color: rgb(47, 37, 37);
}

*, *:before, *:after {
  box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.popup-newgame {
    position: fixed;
    background-color: #191d1ad3;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup-newgame:target {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    background-color: blanchedalmond;
    width: 60%;
    margin: 100px auto;
    text-align: left;
   
}

.game-board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: var(--board-color);
    padding: 40px 0;
    width: var(--board-dimension);
}

.board {
    height: var(--box-dimension);
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--moves-color);
}

.board-tl {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
     width: var(--box-dimension);
}
.board-tm {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
     width: var(--box-dimension);
}

.board-tr {
    border-bottom: var(--board-border);
    width: var(--box-dimension);
}
.board-ml {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
     width: var(--box-dimension);
}
.board-mm {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
    width: var(--box-dimension);
}

.board-mr {
    border-bottom: var(--board-border);
    width: var(--box-dimension);
}

.board-bl {
    border-right: var(--board-border);
     width: var(--box-dimension);
}
.board-bm {
    border-right: var(--board-border);
    width: var(--box-dimension);
}

.board-br {
    width: var(--box-dimension);
}

.winner-text {
  display: block;
}   